* {
    box-sizing: border-box;
    font-family: Hiragino Kaku Gothic Pro;
  }

.container {
    max-width: 1170px;
    width: 100%;
    padding: 15px 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    i{
        color: rgba(0, 0, 0, 0.32); 
        margin-top: 20px;
    }
  }

 .page-body{
    height: 500px;
    h2{
        font-weight: normal;
        font-size: 36px;
    }
    p{
        font-size: 24px;
    }
 }

 footer{
     padding-top:100px;
     height:130px;
     &.rights{
        font-size: 8px;
        color: #C4C4C4;
     }
 }